<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header th:replace="fragments/fragment :: header" />
    <main>
      <section>
        <div>
          <h2 th:text="|DETAIL ${pizza.name}|" />
          <div th:if="${pizza.promos.size()>0}">
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Start date</th>
                  <th>End date</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="promo : ${pizza.promos}">
                  <td th:text="${promo.getTitle()}" />
                  <td th:text="${promo.getStart}" />
                  <td th:text="${promo.getEnd()}" />
                  <td>
                    <a
                      th:text="EDIT"
                      th:href="@{/promo/{id}/edit(id=${promo.id})}"
                    />
                  </td>
                  <td>
                    <a
                      th:text="DELETE"
                      th:href="@{/promo/{id}/delete(id=${promo.id})}"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div th:unless="${pizza.promos.size()>0}">
            <span>Non ci sono promozioni</span>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
