<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header th:replace="fragments/fragment :: header" />
    <main>
      <section>
        <div>
          <table>
            <thead>
              <tr>
                <th>NOME</th>
                <th>DESCRIZIONE</th>
                <th>PRICE</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="pizza : ${pizzas}">
                <td>
                  <a
                    th:text="${pizza.getName().replace('-',' ')}"
                    th:href="@{/{id}(id=${pizza.id})}"
                  />
                </td>
                <td th:text="${pizza.getDescription()}" />
                <td th:text="|${pizza.getPrice()}$|" />
                <td>
                  <a th:href="@{/{id}/edit(id=${pizza.id})}" th:text="EDIT" />
                </td>
                <td>
                  <a
                    th:href="@{/{id}/delete(id=${pizza.id})}"
                    th:text="DELETE"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
